<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
    <%- include('_bootstrap.ejs')%>
</head>
<body>
	<%- include('_header.ejs')%>
    <div class="container-fluid">
        <main class="tm-main">
            <table class="table">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>  
                </thead>
                <tbody>
                    <%
                      categoryList.forEach((category,index)=>{
                        %>
                         <tr>
                            <td><%=index+1%></td>
                            <td><%=category.categoryName%></td>
                            <td>
                               <a href="/category/edit/<%=category._id%>"> 
                                <button class="btn btn-primary">Edit</button>
                               </a>
                            </td>
                            <td>
                               <a  onclick="confirm('Are you sure ?')" href="/category/delete/<%=category._id%>"> 
                                <button class="btn btn-outline-danger">Delete</button>
                               </a> 
                            </td>
                         </tr>
                        <%
                      })
                    %>
                </tbody>
            </table>
        </main>    
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>